blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
Flask-Cors
itsdangerous
Jinja2
MarkupSafe
Werkzeug
python-dotenv
idna
requests
urllib3
psycopg2
numpy
pandas
scikit-learn
scipy
joblib
threadpoolctl
python-dateutil
pytz
tzdata
six
pycparser
